<div class="container" >
  <div *ngFor="let recipe of recipes" class="box">
      <div *ngIf="recipe.ingredients">
          <div *ngIf="recipe._id != '123'" class="innerBox card mb-4 shadow-sm">

        <app-display-recipe [recipe]="recipe">
        </app-display-recipe>

      </div>
    </div>
  </div>
</div>

<button class="open-button" (click)="openForm()">Create Recipe</button>

<div class="form-popup" id="myForm">
  <form class="form-container" [formGroup]="createForm" (ngSubmit)="onCreateClick()">
    <h1>Create Recipe</h1>

    <label><b>Title</b></label>
    <input type="text" formControlName="title" placeholder="Enter Title" class="form-control" required>

    <label><b>Image</b></label>
    <input type="text" formControlName="image" placeholder="Enter Image URL"  class="form-control" required>

    <label><b>Ingredients</b></label>
    <input type="text" formControlName="ingredients" placeholder="Enter Ingredients"  class="form-control" required>

    <button type="submit" class="btn">Create</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
  </form>
</div>