<div class="contain">


      <div class="centered">

      <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
            <h3>Write City and code to find weather</h3>
            <input type="text" id="city" formControlName="city" class="form-control">
            <input type="text" id="code" formControlName="code" class="form-control">

            <button class="btn btn-primary" type="submit">Search</button>
      </form>

      <h3>Searching for city: {{locationForm.controls.city.value}} <br/>in the country: {{locationForm.controls.code.value}}</h3>
      <br/><br/>


<table class="table">
      <thead>
            <th scope="col">City:</th>
            <th scope="col">{{weather.name}}</th>
      </thead>

      <tbody>
            <tr>
                  <th scope="row">Coordinates:</th>
                  <td>{{weather.coord.lon}}, {{weather.coord.lat}}</td>
            </tr>

            <tr>
                  <th scope="row">Temperature:</th>
                  <td>{{weather.main.temp-273}}</td>
            </tr>

            <tr>
                  <th scope="row">Weather:</th>
                  <td>{{weather.weather[0].main}}</td>
            </tr>

            <tr>
                  <th scope="row">Description:</th>
                  <td>{{weather.weather[0].description}}</td>
            </tr>

            <tr>
                  <th scope="row">Wind speed:</th>
                  <td>{{weather.wind.speed}}</td>
            </tr>
      </tbody>
</table>
