<!--The content below is only a placeholder and can be replaced.-->

<div class="contain">
  <div class="row">
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>

    <div class="col-sm-2">
      <button type="button" routerLink="weather" class="btn btn-default">Weather</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-warning">Warn</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-default">Default</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-warning">Warn</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-default">Default</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-warning">Warn</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-default">Default</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-warning">Warn</button>
      <button type="button" class="btn btn-danger">Danger</button>
    </div>
  </div>
</div>

