@import "~bootstrap/dist/css/bootstrap.css";


.contain {
    margin-top: 50px;
}

.btn {
    margin: 5px;
}

.customButton {
    width: 78px !important;
    height: 30px;
}

.centered {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}