<div class="contain">

    <div class="row">
  
      <div class="centered">
        <div *ngIf="headline | async as p">
        
        <h1>{{p.text}}</h1>
        <h4>Votes: {{p.likes}}</h4>
        <p>Like the name?</p>

        <button (click)="upvoteHeadline()" class="btn btn-dark">Upvote</button>
        <button (click)="downvoteHeadline()" class="btn btn-dark">Downvote</button>
        <button (click)="resetHeadline()" class="btn btn-dark">Reset</button>

        <input class="form-control" [(ngModel)]="text">
        <button (click)="editText()" class="btn btn-dark">Change title</button>

      </div>

    </div>
  </div>
</div>